.testimonial__container {
    width: 750px;
}

.testimonial__card {
    background-color: #f6faff
        /* var(--container-color) */
    ;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem
        /* var(--mb-3) */
    ;
}

.testimonial__img {
    width: 60px;
    border-radius: 3rem;
    margin-bottom: 1rem
        /* var(--mb-1) */
    ;
}

.testimonial__name {
    font-size: 1rem
        /* var(--normal-font-size) */
    ;
    font-weight: 500
        /* var(--font-medium) */
    ;
    margin-bottom: 0.25
        /* var(--mb-0-25) */
    ;
}

.testimonial__role {
    font-size: 0.625rem
        /* var(--tiny-font-size) */
    ;
    font-weight: 400
        /* var(--font-normal) */
    ;

}

.testimonial__description {
    font-size: 0.875rem
        /* var(--small-font-size) */
    ;
    margin-top: 0.5rem;
}

/* Swiper Class */
.swiper-pagination-bullet {
    background-color: #000 !important
        /* var(--text-color) */
    ;
}

.swiper-pagination-bullet-active {
    background-color: #000 !important
        /* var(--title-color) */
    ;
}

/* =============== BREAKPOINTS =============== */
/* For large devices */
@media screen and (max-width: 992px) {
    .testimonial__container {
        width: initial;
    }

    .testimonial__card {
        padding: 1.25rem 1.5rem;
    }
}